.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
}

.l {
    text-decoration: none;
    color: black;
    transition: .3s ease all;
}

.bar {
    background-color: cornflowerblue !important;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.l:hover {
    color: #50b454;
}